.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tier {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 150px;
  background: #ccc;
  margin: 10px;
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: all 0.5s ease;
  cursor: pointer;
}

.card.win {
  background: green;
  transform: rotateY(0deg);
}

.card.lose {
  background: red;
  transform: rotateY(0deg);
}

.card.flipping {
  transform: rotateY(0deg);
}
